		<!-- EVENT overall_footer_content_after -->
	</div>

<!-- EVENT overall_footer_page_body_after -->

<!-- IF $WRAP_FOOTER == 0 -->
	<!-- INCLUDE navbar_footer.html -->
</div>
<!-- ENDIF -->

<div id="page-footer" class="page-width" role="contentinfo">
	<!-- IF $WRAP_FOOTER == 1 -->
		<!-- INCLUDE navbar_footer.html -->
	<!-- ENDIF -->

<!-- 	<div class="copyright">
	EVENT overall_footer_copyright_prepend
	{CREDIT_LINE}
	<a href="http://www.colorizeit.com/styles/phpbb-31-styles/368.basic.html">Color scheme created with Colorize It</a>. 
	<br />Style by <a href="http://www.artodia.com/">Arty</a>
	IF TRANSLATION_INFO<br />{TRANSLATION_INFO}ENDIF
	EVENT overall_footer_copyright_append
	IF DEBUG_OUTPUT<br />{DEBUG_OUTPUT}ENDIF
	IF U_ACP<br /><strong><a href="{U_ACP}">{L_ACP}</a></strong>ENDIF
</div> -->







	<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close"></a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close"></a>
		<div class="alert_text"></div>
	</div>
</div>

<!-- IF $WRAP_FOOTER == 1 -->
</div>
<!-- ENDIF -->

<div>
	<a id="bottom" class="anchor" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write(unescape('%3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}" type="text/javascript"%3E%3C/script%3E'));</script><!-- ENDIF -->
<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->


	<div class="use-bootstrap" id="travelFooter">
		<footer class="footer-main">
            <div class="footer-main__corner"></div>
            <div class="footer-main__corner-border"></div>
            <div class="container">
                <div class="row">
                    <div class="footer__logo col-lg-3 col-md-3 hidden-sm hidden-xs">
                        <h3 class="title"><a href="index.html">ТурфирмНЕТ</a></h3>
                    </div>
                    <div class="grid col-lg-9 col-md-9">
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                            <h4 class="title">Навигация</h4>
                            <ul class="footer-main__navigation list-unstyled">
                                <li><p><a href="#">О проекте</a></p></li>
                                <li><p><a href="#">Консультации</a></p></li>
                                <li><p><a href="#">Форум</a></p></li>
                                <li><p><a href="#">Карты</a></p></li>
                                <li><p><a href="#">Web-камеры</a></p></li>
                                <li><p><a href="#">Справочник</a></p></li>
                                <li><p><a href="#">Контакты</a></p></li>
                            </ul>
                        </div>
                        <div class="footer-main__subscribe-us text-center clearfix col-lg-4 col-md-4">
                            <h4 class="title">ПОДПИСЫВАЙТЕСЬ НА НАС</h4>
                            <ul class="footer-main__subscribe list-unstyled">
                                <li><a href="#"><i class="icon-tw"></i>Twitter</a></li>
                                <li><a href="#"><i class="icon-fb"></i>Facebook</a></li>
                                <li><a href="#"><i class="icon-goog"></i>Google+</a></li>
                            </ul>
                            <div class="contacts visible-xs visible-sm pull-right">
                                <p><i class="icon-phone"></i>8 (800) 123 45 67</p>
                                <p><i class="icon-mail"></i>travel@mail.ru</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <form class="contact-us" method="post" action="javascript: void(null);">
                                <h4 class="title">СВЯЖИТЕСЬ С НАМИ</h4>
                                <input type="text" class="contact-us__field" name="name" placeholder="Ваше имя">
                                <input type="text" class="contact-us__field" name="mail" placeholder="E-mail">
                                <textarea class="contact-us__field" placeholder="Напишите Ваше сообщение" name="message"></textarea>
                                <input type="submit" class="contact-us__submit" value="Отправить">
                            </form>
                        </div>
                        <div class="col-lg-2 col-md-3 hidden-sm hidden-xs">
                            <div class="contacts">
                                <p><i class="icon-phone"></i>8 (800) 123 45 67</p>
                                <p><i class="icon-mail"></i>travel@mail.ru</p>
                            </div>
                        </div>
                    </div> <!--grid-->
                </div>  <!--row-->
            </div>  <!--container-->
        </footer>
	</div>

<style>
	body#phpbb {
	    padding-bottom: 0;
	    overflow-x: hidden;
	}
	footer.footer-main {
		margin-top: 80px!important;
	}
	header.header-main {
		margin-bottom: 80px!important;
	}
</style>

</body>
</html>
